.number{
    background-color: lightblue;
}
.Fizz{
    background-color: aqua;
}
.Buzz{
    background-color: yellow;
}
.FizzBuzz{
    background-color: red;
}
.number,.Fizz,.Buzz,.FizzBuzz{
    aspect-ratio: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: blue;
}
h1{
    color:white;
}