.number{
    background-color: lightblue;
}
.fizz{
    background-color: aqua;
}
.buzz{
    background-color: yellow;
}
.fizzbuzz{
    background-color: red;
}
.number,.fizz,.buzz,.fizzbuzz{
    aspect-ratio: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: blue;
}
h1{
    color:white;
}